<div class='client-container' data-client-id="{{client._id}}">
  <div class="row">
    <h4>Client name:</h4>

    <span class='glyphicon ' ng-class="{ 'glyphicon-chevron-down': isCollapsed, 'glyphicon-chevron-up': !isCollapsed }"></span>
    <button type="button" class="btn btn-default client-name client-btn" ng-click="isCollapsed = !isCollapsed">{{client.name}}</button>
    <button type="button" class="btn btn-danger delete-client client-btn pull-right" ng-show="isLoggedIn" ng-click="deleteClient()">Delete client</button>
    <button type="button" class="btn btn-warning edit-client client-btn pull-right" ng-show="isLoggedIn" ng-click="isCollapsedClientEdit = !isCollapsedClientEdit">Edit client</button>
  </div>

  <div uib-collapse="isCollapsedClientEdit">
    <form ng-submit="editClient()" novalidate>
      <div class="form-group">
        <label for="clientNameEdit">Edit client name</label>
        <input type="text" class="form-control" id="client-name-edit" placeholder="change client name" ng-model="editClientName" ng-value="client.name" required>
      </div>
      <div class="form-group">
        <label for="client_description_edit">Edit client description</label>
        <input type="clientDescriptionEdit" class="form-control" id="client-description-edit" placeholder="change client description" ng-model="editClientDescription" ng-value="client.description" required>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>

  <hr>
  <div uib-collapse="isCollapsed">
    <div class='client-description'>
      <h4>Client description: </h4>
      <span>{{client.description}}</span>

      <button type="button" class="btn btn-default add-product-btn" ng-click="addProduct = !addProduct" ng-show="isLoggedIn">Add Product</button>

      <div uib-collapse="addProduct" >

        <form ng-submit="addNewProduct()" novalidate>
           <div class="form-group">
             <label for="product_name">Product name</label>
             <input type="text" class="form-control" id="product-name" placeholder="enter product name" ng-model="newProductName" required>
           </div>
           <div class="form-group">
             <label for="product_description">Product description</label>
             <input type="product_description" class="form-control" id="product_description" placeholder="enter product description" ng-model="newProductDescription" required>
           </div>
           <button type="submit" class="btn btn-default">Submit</button>
         </form>
      </div>

      <div ng-repeat="product in client.products">
        <product-card product="product"></product-card>
      </div>
    </div>
    <hr>
  </div>
</div>
