<div class='product-container' data-product-name="{{product.product_name}}">
  <div class="row">
    <h4>Product name:</h4>
    <button type="button" class="btn btn-primary product-name product-btn pull-left" ng-click="isCollapsed = !isCollapsed">{{product.product_name}}</button>
    <button type="button" class="btn btn-danger delete-product product-btn" ng-show="isLoggedIn" ng-click="deleteProduct()">Delete product</button>
    <button type="button" class="btn btn-warning edit-product product-btn" ng-show="isLoggedIn" ng-click="isCollapsedProductEdit = !isCollapsedProductEdit">Edit product</button>
  </div>

  <div uib-collapse="isCollapsedProductEdit">
    <form ng-submit="editProduct()" novalidate>
      <div class="form-group">
        <label for="productNameEdit">Edit product name</label>
        <input type="text" class="form-control" id="product-name-edit" placeholder="change product name" ng-model="editProductName" ng-value="product.product_name" required>
      </div>
      <div class="form-group">
        <label for="product_description_edit">Edit product description</label>
        <input type="productDescriptionEdit" class="form-control" id="product-description-edit" placeholder="change product description" ng-model="editProductDescription" ng-value="product.product_description" required>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>


  <div uib-collapse="isCollapsed">

    <div class='product-description'>
      <hr>
      <h4>Product description: </h4>
      <span>{{product.product_description}}</span>
    </div>

  </div>
</div>
