<div ng-show="isLoggedIn" class="row">
  <div class="col-md-10 col-md-offset-1 add-client-form">
    <span class="glyphicon glyphicon-user"></span>
    <h2>Add Client</h2>
    <form ng-submit="createClient()" novalidate>
     <div class="form-group col-md-5">
       <label for="name">Name</label>
       <input type="text" class="form-control" id="name" placeholder="enter name" ng-model="newClient.name" required>
     </div>
     <div class="form-group col-md-5">
       <label for="description">Description</label>
       <input type="text" class="form-control" id="description" placeholder="enter description" ng-model="newClient.description" required>
     </div>

      <button type="submit" class="btn btn-default client-submit">Submit</button>
    </form>
  </div>
</div>
<div ng-hide="isLoggedIn">
  <h2>Click on client for more info</h2>
</div>
<div ng-repeat="client in clients">
  <client-card  client="client" anyProducts="client.products.length > 0" ></client-card>
</div>
