<div class="row">
  <div class="col-md-4">
    <h1>Register</h1>
    <hr><br>
    <form ng-submit="authRegisterCtrl.onRegister()" novalidate>
     <div class="form-group">
       <label for="username">Username</label>
       <input type="text" class="form-control" id="username" placeholder="enter username" ng-model="authRegisterCtrl.user.username" required>
     </div>
     <div class="form-group">
       <label for="name">Name</label>
       <input type="text" class="form-control" id="name" placeholder="enter name" ng-model="authRegisterCtrl.user.name" required>
     </div>

     <div class="form-group">
       <label for="password">Password</label>
       <input type="password" class="form-control" id="passwowrd" placeholder="enter password" ng-model="authRegisterCtrl.user.password" required>
     </div>
     <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>
