<!DOCTYPE html>
<html lang="en" ng-app="tokenAuthApp">

  <head>
    <meta charset="utf-8">
    <title>ACME Inc.</title>
    <!-- styles -->
    <link href="/public/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w=" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="./css/main.css">
  </head>

  <body ng-cloak>

     <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle btn navbar-btn" data-toggle="collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/17492-200.png"></img>
            ACME
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div uib-collapse="navCollapsed" class="collapse navbar-collapse navbar-responsive-collapse" id="bs-example-navbar-collapse-1" ng-controller="authStatusController as status">

          <ul class="nav navbar-nav navbar-right">

            <li ng-hide="status.isLoggedIn">
              <a ng-href="/#!/login">
                <span class='glyphicon glyphicon-log-in'></span>
                LogIn
              </a>
            </li>

            <li ng-show="status.isLoggedIn">
              <a ng-href="/#!/logout">
                <span class='glyphicon glyphicon-log-out'></span>
                LogOut
              </a>
            </li>

            <li ng-if="false">
              <a ng-href="/#!/register">
                <span class='glyphicon glyphicon-log-out'></span>
                Add Admin
              </a>
            </li>

          </ul>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
     </nav>

    <div class="container">
      <br>
      <div ng-view></div>
    </div>
    <!-- scripts -->

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js" integrity="sha256-3SrLjPeRPa1ofM280r+OMcUjJZKLWJHr6SRtRu3dRb0=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js" integrity="sha256-SUsNyx9Kr9rHA3thrzSefdS883z1Q0ZOLXPF3p2Tt+o=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="./js/app.js"></script>
    <script type="text/javascript" src="./js/config.js"></script>
    <script type="text/javascript" src="./js/services.js"></script>
    <!-- main component -->
    <script type="text/javascript" src="./js/components/main/main.controller.js"></script>
    <!-- auth component -->
    <script type="text/javascript" src="js/components/auth/auth.controller.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js" integrity="sha256-6vbKDGwy9JmzGKxxeypGzCjyOmACDtgheaOQT6ZVafA=" crossorigin="anonymous"></script>
  </body>
</html>
