.container {
}

.navbar-brand {
  display: inline-block;
  font-size: 2em;
  font-weight: bold;

  img {
    margin-right: 5px;
    display: inline-block;
    position: relative;
    float: left;
    height: 60px;
    bottom: 20px;
  }
}

.client-description {
  button {
    float: right;
  }
}

form {
  margin-top: 30px;
  margin-bottom: 60px;
}

.client-btn, .product-btn {
  margin-top: 10px;
  margin-right: 20px;
}

.client-submit {
  position: relative;
  top: 25px;
}

.client-container {
  margin-top: 10px;
  padding: 10px 20px 0px 30px;
  background-color: skyblue;
  border-radius: 30px;
  .row {
    .glyphicon {
      position: relative;
      top: 10px;
      margin-right: 5px;
    }
  }
}

.add-client-form {
  background-color: #ccff99;
  border-radius: 30px;
  .glyphicon {
    position: relative;
    display: inline-block;
    margin-right: 6px;
    font-size: 25px;
    top: 2px;
  }
  h2 {
    display: inline-block;
  }
  form {
    text-align: center;
    margin-top: 10px;
  }
}

.client-description, .product-description {
  span {
    font-style: italic;
    font-size: 15px;
  }
}

.add-product-btn {
  position: relative;
  bottom: 20px;
}

.product-container {
  margin-top: 30px;
  background-color: #e0ebeb;
  padding: 20px 20px 20px 20px;
  border-radius: 20px;
  .row {
    h4 {
      margin-left: 10px;
    }
    span {
      position: relative;
      display: block;
      font-weight: bold;
      font-size: 15px;
      left: 10px;
      padding-bottom: 0px;
    }
  }
  hr {
    border-color:black;
  }
}

.btn-primary {
  margin-left: 10px;
  position: relative;
  left: 30px;
}

.login-container {
  margin: auto;
  form {
    margin-top: -10px;
  }
  h1 {
    text-align: center;
  }
}
